                                 /*reset css*/

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:wght@100&family=Rambla&display=swap');
html{
scroll-behavior: smooth;
font-size: 62.5%;
}

*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
 }
               
body{
    font:1.6rem sans-serif;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
                                    
h1,ul,li, h2, h3, span, p, img{
    margin: 0;
    padding: 0;
}


                                 /* theme */
:root{
    --primary_color: #222;
    --secondary-color:#FFF;
    --title-color: #020f52;
    --list-color: #fafafa;
    --section-color: #001233;
    --links-color: rgb(221, 200, 200); 
    --title-info-color: rgb(248, 245, 239);
    --photo-shadow-color: rgb(73, 72, 72);
    --main-title-color: rgb(223, 210, 210);
}

header{
    width: 100%;
    position: relative;
    margin: auto;
}
.navbarbtn{
    cursor: pointer;
    padding:1.5rem;
    font-size: 2.0rem;
}
ul{
    font-size: 1.9rem;
    width: 100%;
    margin: 0 auto;
    max-width: 70rem;   
    line-height: 1.2;
    text-align: center;
    width: 100%;
}
.listCompetences > li{
    text-align: justify;
    width: 100%;
    justify-content: center;
     align-items:center;
}
.navbar{
    z-index: 2;
    margin: 0 auto;
    height: 100vh;
    position: absolute;
    width: 100%;
}
.navbarLinks{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    text-align: center;
    align-items: center;
    background-color: var(--primary_color);
    z-index: 4;
    transform: translateX(-200rem);
    transition-duration: all 0.6s;
}
.navbarAppear{
    transform: translateX(0rem);
    transition-duration: 0.6s;
}
.navbarLinks li a{
    color: var(--links-color);
    display: block;
}
main{
    max-width: 100rem;
    margin:0 auto;
    background-color: var(--secondary-color);
}
h1{
    padding: 90px 0 10px 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4.0rem;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
}
.whoIAm{
    max-width: 45rem;
    font-size: 2.2rem;
    line-height: 2.0rem;
    letter-spacing: 0.01rem;
    margin: 0 auto;
    background-color: var(--secondary-color);
    color: var(--title-color);
}
figure{
    width: 100%;
    max-width: 60rem;
    justify-content: center;
    align-items: center;
    margin: 2.0rem auto;
    text-align: center;
    padding-bottom: 2.5rem;
}
.myPhoto{
    max-width: 30rem;
    border:2px solid  transparent;
    box-shadow: 0 0 8px  var(--photo-shadow-color);
    margin: 0 auto;
    clip-path: circle(36.0%);
}
.introductionAboutMe{
    font-size: 1.8rem;
    line-height: 1.8;
    text-align: justify;
}
h3, h2{
    line-height: 6rem;
    font-size: 1.9rem;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    font-family: 'AudioWide', sans-serif;
    background-color: var(--primary_color);
    color: var(--secondary-color);
    letter-spacing: 2;
    cursor: pointer;
    position: relative;
}
h3::before{
    content:'';
    position: absolute;
    top: 4.7rem;
    left: 48%;
    width: 3rem;
    height: 3rem;
    border: solid .1rem transparent;
    border-right-color: var(--primary_color);
    /* border-bottom-color: var(--primary_color); */
    background: var(--secondary-color);
    z-index: 1;
    transform: rotate(45deg);
    cursor: pointer;
}
#skills{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -1.8rem;
}
.titleSkills, .titleSoftware{
    z-index: 2;
}
.sectionFormationAppear, .veilleTechnoAppear, .sectionMyworkAppear, .loisirsAppear, .sectionAppear, .sectionSkillsAppear, .sectionExperienceAppear, .cubeAppear, .projectsAppear{
    opacity: 0;
    background: 0;
    height: 0;
    overflow: hidden;
}
.listCompetences, .listSoftwareAppear, .listLoisirs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5rem;
    margin-top: 1.5rem;
    height: initial;
    overflow: visible;
    opacity: 1;
    animation: fade .3s;
}
.listCompetences > li{
    font-size: 6.5rem;
    display:flex;
}
.listCompetences  li > i{
  scale:1.25;
  transition: all .3s ease-in-out;
}
.listCompetences li > i:hover{
    scale: 1;
}
#experiences, #formation{
    color: var(--section-color);
    margin-bottom: 4.0rem;
}
.desc{
    padding-bottom: 0.5rem;
}
.dates, h5{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--primary_color);
    padding: 0.8rem 0;
}
#formation > .listFormations, #experiences > .listExperiences{
    padding: 1.5rem;
}
.listFormations, .veilleTechnologie, .myWork, .listExperiences, .cube, .listProjects{
    height: initial;
    overflow: visible;
    opacity: 1;
    animation: fade .3s;
}
.myProjects{
    margin-bottom: 3.8rem;
}
.listProjects{
    display: flex;
}
.listProjects > figure{
    width: 100%;
    max-width: 65rem;
}
.listProjects > img{
    width: 100%;
    max-width: 45rem;
}
.commande{
    width: 40rem;
}
.listExperiences, .listFormations, .listSoftware, #contact{
    text-align: justify;
    width: 90%;
    line-height: 1.1;
    justify-content: center;
    align-items: center;
}
#software{
    margin: 1.0rem auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3.0rem 0;
 }
 #software ul  li > img {
    max-width: 12rem;
    max-height: 12rem;
    width: 100%;
    margin: 2.0rem; 
    scale:1.25;
    transition: all .3s ease-in-out;
 }
 #software ul li > img:hover{
    scale: 1;
 }
 #veilles figure > h3{
     padding-bottom: 1.0rem;
 }
 #veilles figure > h4{
     padding-top: 2.5rem;
 }
 #veilles figure  > figcaption{
     padding-top: 1.0rem;
 }
 #veilles figure figcaption > a{
    color: var(--primary_color);
    font-size: 1.7rem;
    border: 0.1rem solid transparent;
    border-color: var(--primary_color);
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.7rem 3.3rem;
    border-width: 0.2rem;
    border-radius: 0.3rem;
 }
 #veilles figure figcaption > a:hover{
     color: var(--secondary-color);
     background-color: var(--primary_color);
     border-color: var(--primary_color);
 }
 figure > img{
     max-width: 18rem;
     max-height: 18rem;
     width: 100%;
     height: 25rem;
     display: block;
     margin: 0 auto;
 }
 #stageAlternance{
     padding-bottom: 4.0rem;
}
#stageAlternance figure figcaption > p{
    padding-bottom: 1.4rem;
}
#stageAlternance figure figcaption > a{  
    background-color: var(--secondary-color);
    color: var(--primary_color);
    padding: 0.6rem 2.0rem;
    border: 0.1rem solid transparent;
    border-radius: 0.2rem;
    cursor: pointer;
    border-color: var(--primary_color);
    border-width: 0.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.projectsAppear figure figcaption > a{
    background-color: var(--secondary-color);
    color: var(--primary_color);
    border: 0.1rem solid transparent;
    cursor: pointer;
    border-color: var(--primary_color);
    border-width: 0.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.7rem;
}
#stageAlternance figure figcaption > a:hover,
.projectsAppear figure figcaption > a:hover{
     color: var(--secondary-color);
     background-color: var(--primary_color);
     border-color: var(--primary_color);
}
.sectionMyworkAppear > figure:first-child, 
.projectsAppear > figure{
    padding-top: 2.5rem;
}
.sectionMyworkAppear  figure:first-child > img{
    padding-bottom: 1.0rem;
}
figcaption{
    text-align: center;
    align-items: center;
    justify-content: center;
}
#loisirs{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 4.0rem;
}
#loisirs .listLoisirs li > img{
    width: 100%;
    max-width: 18rem;
    height: 18rem;
    margin: 1.5rem;
    transition: all 0.35s ease-in;
}
#loisirs .listLoisirs li > img:hover{
    opacity: 0.5;
    border-radius: 50%;
}

#portfolio{
    width: 100%;
    height: 75vh;
}
.myProjects .projectsAppear figure{
   width: 100%;
   max-width: 80rem;
}
#contact{
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#contact > .info{
    color: var(--title-info-color);
}

#contact > ul li{
    justify-content: center;
    align-items: center;
    text-align: left;
    color: var(--list-color);
    margin-left: 2.5rem;
}
#contact > p{
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
}
.socialMedias{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2.0rem 0;
}
.socialMedias > li{
    font-size: 3.0rem;
    transition: all 1s ease-in-out;
    scale: 1;
}
.socialMedias li > i{
    scale: 1;
}

.socialMedias li > i:hover{
   scale: 1.3;
   transform: rotate(15deg);
}

h4{
    font-size: 1.9rem;
    letter-spacing: 0.5;
    text-transform: uppercase;
}
.navAppear{
    transform: translateX(0rem);
}
#contact{
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 150rem;
}
                                
#contact > ul li{
    justify-content: center;
    align-items: center;
    text-align: left;
    color: var(--list-color);
    margin-left: 2.5rem;
}
.socialMedias > li{
    font-size: 3.0rem;
}
h4{
    margin-top: -1.0rem;
    padding: inherit;
    margin-bottom: 0.5rem;
}                                

@keyframes slideIn{
    0%{
      left:0;
    }
    22%{
      left:0;
    }
    33%{
      left:-40rem;
    }
    65%{
      left:-80rem;
    }
    90%{
      left:-100rem;
    }
}

      
@media screen and (max-width:1000px){
    .section_1 ul li{
    display: flex;
    flex-direction: column;
    }
    .listProjects{
        display: flex;
        flex-direction: column;
    }
    .navbar{
        display: none;
    }
}
                            
                

@media screen and (min-width: 1200px) {
    body{
        overflow-x: visible;
        overflow-y: visible;
    }
    .navbar{
        height: 10vh;
        position: initial;
        width: 100%;
    }
    .navbar > i{
        display: none;
    }
    .navbarAppear{
        transform: translateX(0);
    }
    .navbarLinks{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
        height: 10vh;
        text-align: center;
        align-items: center;
        background-color: var(--primary_color);
        transform: translateX(0);
    }
    .navbarLinks > li{
        line-height: 7.7rem;
        width: 100%;
    }
   .navbarLinks  li a{
       color: var(--main-title-color);
       padding: 1.0rem 1.0rem;
    }
    .navbarLinks > li:hover{
        background-color: var(--secondary-color);
    }
    .navbarLinks  li a:hover{
        color: var(--primary_color);
    }
    h1{
        font-size: 4.5rem;
    }
    .whoIAm{
        font-size: 3.5rem;
        line-height: 2.0;
        max-width:100rem;
    }
    #about{
       height: 70vh;
       width: 100%;
       margin: o auto;
    }
    .introductionAboutMe{
        max-width: 60rem;
        margin: 0 auto;
        padding-top: 2.0rem;
    }
    figure{
       max-width: 100rem;
       margin: 2rem auto;
    }
    .listCompetences{
       display: grid;
       grid-template-columns: repeat(4, 1fr);
       grid-gap: 2.5rem;
       padding-bottom: 2.5rem;
   }
   .listLoisirs{
       grid-template-columns: repeat(4, 1fr);
       grid-gap:4.5rem;
   }
   .listSoftwareAppear{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 4.0rem;
   }
   #contact{
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      text-align: center;
   }
   .socialMedias{
       margin: 2.0rem auto;
   }
   #software ul > li{
       font-size: 12rem;
   }
   .listCompetences{
      display: flex;
      justify-content: space-around;
   }
   .listCompetences > li{
       padding: 2.5rem;
   }
   #stageAlternance figure > img, #veilles figure > img{
       max-width: 16rem;
       max-height: 16rem;
   }
   #loisirs{
       margin-bottom: 4.0rem;
   }
   #loisirs  ul li> img{
    max-width: 20rem;
    max-height: 20rem;
}
   .listProjects{
    grid-template-columns: repeat(6, 1fr);
    padding-top: 3.5rem;
     justify-content: center;
   }
   #veilles{
       margin-bottom: 0;
   }
   #veilles > figure{
       padding-bottom: 0;
   }
   #veilles figure figcaption > a{
    padding: 0.7rem 2.4rem;
   }
   
}
















            /*********************************************PORTFOLIO Animation 3D******************************************************************/
            .wrap {
                perspective: 800px;
                perspective-origin: 50% 100px;
            }
            .cube {
                position: relative;
                z-index: 1;
                width: 200px;
                transform-style: preserve-3d;
                margin:10.000rem auto;
            }
            .cube section img{
                display: block;
                width: 100%;
            }
            .back {
                transform: translateZ(-100px) rotateY(180deg)scale(1);
                transition-duration: 0.5s;
            }
            .right{
                transform: rotateY(-270deg) translateX(100px) scale(1);
                transform-origin: top right;
                transition-duration: 0.5s;
            }
            .left {
                transform: rotateY(270deg) translateX(-100px) scale(1);
                transform-origin: center left;
                transition-duration: 0.5s;
            }
            .top {
                transform: rotateX(-90deg) translateY(-100px);
                transform-origin: top center;
            }
            .bottom {
                transform: rotateX(-90deg)translateY(100px);
                transform-origin: bottom center;
            }
            .front {
                transform: translateZ(100px) scale(1);
                transition-duration: 0.5s;
            }
            .frontImage{
                width: 20rem;
                height: 20rem;
                cursor: pointer;
            }
            .cube {
                animation: spin 9s infinite linear;
            }
            @keyframes spin {
                from{
                    transform: rotateY(0deg);
                }
                to{
                    transform: rotateY(360deg);
                }
            }
            @keyframes fade{
                0%{
                    scale: 0.25;
                }
                100%{
                     scale: 1;
                }
            }
            .cube section{
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                width: 200px;
                height: 200px;
                text-align: center;
                line-height: 200px;
                opacity: 0.9;
                box-shadow: 0 0 10px rgb(37, 37, 1);
            }
            #animations ul li >img{
                position:relative;
                display:inline-block;
                width: 200px;
                            transition-duration: 0.5s;
                            transform: scale(1) rotate(0deg);
                            z-index: 0;
                            cursor: pointer;
                        }
                        
            #animations ul li:first-child:hover{
                animation: firstAnimation 0.7s linear infinite;
            }
            #animations ul li:nth-child(2):hover{
                animation: secondAnimation 0.8s linear 4 alternate;
                        }
                        slide_1{
                            left:0
                        }
                        slide_2{
                            left:-40rem
                        }
                        slide_3{
                            left:-80rem
                        }
                        slide_4{
                            left:-100rem
                        }
                        @keyframes slideIn{
                            0%{
                                left:0;
                            }
                            22%{
                                left:0;
                            }
                            33%{
                                left:-40rem;
                            }
                            65%{
                                left:-80rem;
                            }
                            90%{
                                left:-100rem;
                            }
                        }
                        
                        @keyframes firstAnimation{
                             0%{
                                 transform:rotateX(0deg);
                             }
                             50%{
                                 transform: rotateX(90deg);
                                 opacity:0.5
                             }
                             100%{
                                 transform: scale(1) rotate(360deg);
                             }
                        }
                        
                        @keyframes secondAnimation{
                            from{
                                transform: rotateZ(0deg);
                            }
                            to{
                                transform: scale(1) rotateZ(360deg);
                            }
                        }
                        footer{
                            background-color: #222;
                            text-align: center;
                        }
                        footer p{
                            color:#fff;
                            line-height: 3.0rem;
                        }
                        .front:hover{
                            transform: translateZ(125px) scale(1.5) rotate(360deg);
                            opacity:1;
                            cursor: pointer;
                        }
                        .left:hover{
                            transform: rotateY(270deg) translateZ(50px) translateX(-100px) scale(1.5);
                            transform-origin: center left;
                            opacity: 1;
                            cursor: pointer;
                        }
                        .right:hover{
                            transform: rotateY(-270deg) translateX(100px) translateZ(50px) scale(1.5);
                            transform-origin: center right;
                            opacity: 1;
                            cursor: pointer;
                        }
                        /* .back:hover{
                            transform: translateX(150px);
                            transform-origin: center center;
                            opacity: 1;
                            cursor: pointer;
                        } */
            



            